
<app-employee-navbar></app-employee-navbar>

<style >

    .bgm{ background-image:url('https://wallpaperaccess.com/full/5112865.jpg');}

</style>

<div class="bgm" style="height:900px;background-repeat: no-repeat;">

<div style="padding-top: 100px;" class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div style="padding-left: 200px;padding-top: 100px;" class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">


                    <div  class="card border-info mb-3" *ngFor="let i of profile">
                        <div class="card-header">Name : {{i.name}}</div>
                        <div class="card-body">
                            <p class="card-text">Employee Id : {{i.empid}}</p>
                          <p class="card-text">Designation : {{i.designation}}</p>
                          <p class="card-text">Email : {{i.email}}</p>
                          <p class="card-text">Phone : {{i.phoneno}}</p>
                          <p class="card-text">Username : {{i.username}}</p>
                        </div>
                      </div>

                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">


                    <img height="300px" style="padding-left: 100px;" src="https://t4.ftcdn.net/jpg/00/32/17/45/360_F_32174575_EYpCOBxa4xAmnHY1lfBmmnSqGYv6BZLG.jpg" alt="">

                   
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">

                    <h3 style="padding-left: 210px;padding-top: 30px;color: darkcyan;" *ngFor="let i of profile">{{i.name}}</h3>

                   
                </div>
            </div>
                
            </div>
        </div>
    </div>
</div>
