<style >

    .bgm{ background-image:url('https://cdn.wallpapersafari.com/82/99/aogCzb.jpg');}

</style>

<div class="bgm" style="height:900px;background-repeat: no-repeat;">


<div class="container">
    <div class="row">
        <h1 style="color: rgb(6, 50, 6);text-align: center;">Employee Login</h1>
        <div style="padding-top: 100px;" class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div style="background-color:rgb(191, 238, 191);" class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Username</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Password</label>
                    <input name="password" [(ngModel)]="password" type="password" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button (click)="readValue()" class="btn btn-success">Login</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <a (click)="read()" style="color: darkgreen;" routerLink="/">Log Out</a>
                </div>
                </div>

                </div>
                <div class="col">

                    <img style="padding-left: 200px;" height="300px" src="https://startup.mp.gov.in/assets/img/login-bg.png" alt="">
                </div>
            </div>

        </div>
           
        
    </div>
</div>


</div>
