
<app-employee-navbar></app-employee-navbar>


<style >

    .bgm{ background-image:url('https://wallpaperaccess.com/full/5112865.jpg');}

</style>

<div class="bgm" style="height:900px;background-repeat: no-repeat;">

<div class="container">
    <div style="background-color: rgb(179, 239, 197);" class="row">
        
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Leave Type</label>

                     <input name="leavetype" [(ngModel)]="leavetype" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Remarks</label>
                    <textarea name="remarks" [(ngModel)]="remarks" type="text" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">From_Date</label>
                    <input name="from_data" [(ngModel)]="from_data" type="date" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">To_Date</label>
                    <input name="to_date" [(ngModel)]="to_date" type="date" class="form-control">
                </div>
                
                <div  style="text-align: center;"class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button (click)="readValue()" class="btn btn-success">Apply</button>
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button (click)="status()" class="btn btn-success">Leave Status</button>
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" *ngFor ="let i of   statusval">
                    <label for="" class="form_label">LeaveStatus</label>
                    <input type="text" class="form-control" *ngIf="i.status==0;else accepted" value="pending">
                    <ng-template #accepted>
                        <ng-container>
                            <input type="text" class="form-control" *ngIf="i.status==-1" value="rejected">
                        </ng-container>
                       <input type="text" class="form-control" *ngIf="i.status==1" value="accepted">
                      </ng-template>
                     
                     
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button (click)="counterclick()" class="btn btn-light">Remaining Leaves</button>
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"*ngFor ="let i of counter">

                    <p>Remaining Leaves:{{i.total}}</p>
                    <p>casual Leaves : {{i.casualleave}}</p>
                    <p>sick Leaves : {{i.sickleave}}</p>
                    <p>Special : {{i.specialleave}}</p>

                    
                </div>


            </div>
        </div>
    </div>
</div>

</div>