
<app-employee-navbar></app-employee-navbar>

<div class="container">
    <div class="row">
        
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Leave Type</label>

                     <input name="leavetype" [(ngModel)]="leavetype" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Remarks</label>
                    <textarea name="remarks" [(ngModel)]="remarks" type="text" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">From_Date</label>
                    <input name="from_data" [(ngModel)]="from_data" type="date" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">To_Date</label>
                    <input name="to_date" [(ngModel)]="to_date" type="date" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button (click)="readValue()" class="btn btn-success">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>
